/*--------------------------------------------------------------------------------
#### Pages -> Home -> Sections -> Set Us Apart
--------------------------------------------------------------------------------*/
.sets-us-apart {
    padding: 60px 0 100px;

    h2 {
        margin-bottom: 12px;
    }

    p {
        color: $gray-300;
        margin-bottom: 40px;
    }
}
