/*--------------------------------------------------------------------------------
#### Components -> Forms -> Common -> Select
--------------------------------------------------------------------------------*/
.form-select {
    border-radius: 8px;
    font-weight: $font-weight-semibold;
    color: #999fa9;

    &:focus {
        color: #344054;
    }
}
