// Variables -> Navbar
$navbar-padding-y: 1.125rem;
$navbar-padding-x: null;

// Navbar Link
$navbar-nav-link-padding-x: 24px;

// Navbar Toggler
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-font-size: $font-size-lg;
$navbar-toggler-border-radius: null;
$navbar-toggler-focus-width: null;
$navbar-toggler-transition: box-shadow 0.15s ease-in-out;

// Colors
$navbar-light-active-color: $primary;
